<li class="post">
    <div class="post_heading">
        <span class="username">{{ username }}</span>
        <span class="fullname">{{ fullname }}</span>
        <span class="timestamp">{{ timestamp }}</span>
    </div>
    <div class="post_body">
        <p class="content">{{ content }}</p>
    </div>
    <div class="post_foot">
        <span class="haters">{{{ haters_markup }}}</span>
        <span class="tags">{{{ tags_markup }}}</span>
    </div>
</li>